.container{
    background-color:aqua;
    background-size:contain;
}

.imgbackground {
    margin: 0 auto;
    height:33%;
    width:100%;
    background-image: url("imageback.png");
    background-position: 50% 0px;
    background-repeat: no-repeat;
}

.body{
    margin: 0 auto;
    width:75%;
    height: auto;
    margin-top: -70px;
    opacity: 0.85;
    background-color: lightblue;
}

.myImage{
    background-image: url("myImage.png");
    background-size: cover;
    float:left;
    height: 200px;
    width: 200px;
}

.myInfo{
    padding-top:10px;
    padding-left:240px;
}

.myclear{
    clear: both;
}

.myInfo a:link{
    text-decoration: none;
    color: blueviolet;
}

.position{
    font-size: 24px;
    color: blueviolet;
}

.job{
    color: cadetblue;
}

.fix-distance{
    clear: both;
    margin-top: -16px;
}

.contact{
  margin: 0 auto;
  padding:10px;
  float: left;
  transition: all linear 1s;
  background-color: lightgoldenrodyellow;
  height: 50px;
  width: 100%;
}

.contact-check{
    padding: 30px;
    background-color: lightblue;
    width:90%;
}

.ng-hide {
    background-color: lightsteelblue;
    font-size: 0;
    height:0px;
    size:0px;
}

#myface a:link{
    text-decoration: none;
    color: blueviolet;
    padding-left: 5px;
}

.background{
    margin: 0 auto;
    margin-top:10px; 
    height: auto;
    width: 75%;
    background-color: lightblue;
}

.background h2{
    padding: 5px;
    font-size: 18px;
    background-color:black;
    color: white;
    width:max-content;
}

#background-mytitle{
    padding-top: 20px;
    padding-left: 20px; 
}

#background-mytitle a:link{
    text-decoration: none;
}

#mytitle{
    color: cadetblue;
    font-size: 24px;
}

#border{
    margin: 0 auto;
    color: aliceblue;
    width: 75%;
    border: 1px;
    border-style: solid;
}

#exp p{
    margin-top: -15px;
}

.img_edit{
    background-image: url("fix.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.img_edit:hover{
    cursor: pointer;
}

.img_save{
    background-image: url("save.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.img_save:hover{
    cursor: pointer;
}

.img_cancel{
    background-image: url("cancel.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.img_cancel:hover{
    cursor: pointer;
}

.format{
    font-size: 18px;
    color: black;
    height: 24px;
}

.format_sum{
    font-size: 18px;
    color: black;
    
}






/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

 






