
<html ng-app="cv">
    <head>
        <title>My CV</title>
    <script src="angular.min.js"></script>
    <script src="angular-animate.js"></script>
    <script src="angular-material-icons.min.js"></script>
    <link rel="stylesheet" href="css.css">
    <link rel="stylesheet" href="w3.css">
    </head>
    <body class="container" ng-controller="ctr">
        <div class="imgbackground">
        </div>
        <div class="body w3-card-4">
            <div class="myImage"></div>
            <div class="myInfo">
                <p>
                    <h1>{{myname}} <br/></h1>
                    <span class="position">{{mypos}} <br/></span>
                    <div id="addr"></div> 
                    <div class="job">
                        <p>Current: {{mycurr}}<br/>
                        Education: {{myedu}}<br/></p>
                    </div>
                </p>
            </div>
            <div class="fix-distance">
                <div class="contact" ng-hide="myCheck">
                    <ng-md-icon icon="facebook-box" style="fill:pink" size="24"></ng-md-icon><span id="myface"></span> 
                </div>
                <div class="contact-check">
                    Lock Contact Info <input type="checkbox" name="contact" ng-model="myCheck">
                </div>
            </div>
        </div>

        <div class="background w3-card-4">
            <div>
                <h2>Background</h2>
            </div>
            <div id="background-summary">
                <ng-md-icon icon="description" style="fill:black" size="40"></ng-md-icon> <span id="summary">Summary</span>
                <p>{{summarycontent}}</p><br/>
                <p id="border"></p><br/>
            </div>
            
            <div id="background-summary">
                <ng-md-icon icon="my_library_books" style="fill:black" size="40"></ng-md-icon> <span id="summary">Experience</span>
                <ul id="exp">
                    <li ng-repeat="x in myDataExp">
                        <h4>{{x.quest}}</b></h4>
                        <p><a href={{x.link}}>{{x.place}}</a></p>
                        <p>{{x.time}}</p>
                    </li>
                </ul>
                <p id="border"></p><br/>
            </div>
            
            <div id="background-summary">
                <ng-md-icon icon="assignment" style="fill:black" size="40"></ng-md-icon> <span id="summary">Project</span>
                <ul id="exp">
                    <li ng-repeat="x in myDataPro">
                        <h4><b>{{x.name}}</b></h4>
                        <p>{{x.language}}</p>
                        <h5>{{x.descript}}</h5>
                    </li>
                </ul>
                <p id="border"></p><br/>
            </div>
            
            <div id="background-summary">
                <ng-md-icon icon="description" style="fill:black" size="40"></ng-md-icon> <span id="summary">Skills</span>
                <div ng-repeat="x in myDataSkills">
                    <h5><li>{{x.name}}:</li> 
                        <ng-md-icon icon="star" style="fill:#d2be0e" size="20"></ng-md-icon>
                        <ng-md-icon icon="star" style="fill:#d2be0e" size="20"></ng-md-icon>
                        <ng-md-icon icon="star" style="fill:#d2be0e" size="20"></ng-md-icon>
                        <ng-md-icon icon="star" style="fill:#d2be0e" size="20"></ng-md-icon>
                        <ng-md-icon icon="star_border" style="fill:#d2be0e" size="20"></ng-md-icon>
                    </h5>
                </div>
                <p id="border"></p><br/>
            </div>
            
            <div id="background-summary">
                <ng-md-icon icon="business_center" style="fill:black" size="40"></ng-md-icon> <span id="summary">Education</span>
                <ul id="exp">
                    <li ng-repeat="y in myDataEdu">
                        <h4><b><a href={{y.link}}>{{y.name}}</a></b></h4>
                        <p>{{y.position}}</p>
                        <p>{{y.time}}</p>
                    </li>
                </ul>
                <br/>
            </div>
        </div>
        
        <script>
            var mod = angular.module('cv',['ngAnimate','ngMdIcons'])
                    mod.controller('ctr',['$scope', '$http', function ($scope, $http) {
                    $http.get('profile.json').success(function(data){
                        $scope.myname = data.name;
                        $scope.mypos = data.pos;
                        document.getElementById("addr").innerHTML = '<a href="' + data.link + '">' + 
        data.address + '</a>';
                        
                        $scope.mycurr = data.curr;
                        $scope.myedu = data.edu;
                        document.getElementById("myface").innerHTML = '<a href="' + data.linkface + '">' + 
        data.face + '</a>';

                    });
                    $http.get('summary.json').success(function(data){
                       $scope.summarycontent = data.content; 
                    });
                    $http.get('experience.json').success(function(data){
                       $scope.myDataExp = data; 
                    });
                    $http.get('project.json').success(function(data){
                       $scope.myDataPro = data;
                    });
                    $http.get('skills.json').success(function(data){
                       $scope.myDataSkills = data;
                       
                    });
                    $http.get('education.json').success(function(data){
                       $scope.myDataEdu = data; 
                    });
            }]);
        
        
        </script>

    
    </body>
</html>
